<section class="text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <form action="/sign-in" method="post" class="needs-validation" novalidate>
        <img class="mb-4" src="images/logo-vertical.png" alt="logo" width="50%" height="50%">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <div class="form-row">
          <div class="col-md-12 mb-3">
            <label>Email</label>
            <input type="email" class="form-control" placeholder="Email" name="email" required>
            <div class="invalid-feedback">
              Please provide your email address.
            </div>
          </div>
          <div class="col-md-12 mb-3">
            <label>Password</label>
            <input id="password" type="password" class="form-control" placeholder="Password" name="password" required>
            <div class="invalid-feedback">
              Please provide password.
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
          </div>
      </form>
    </div>
  </div>
</section>
<script>
  (function() {
    window.addEventListener('load', function() {
      var forms = document.getElementsByClassName('needs-validation');
      var validation = Array.prototype.filter.call(forms, function(form) {
        form.addEventListener('submit', function(event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script>