<section class=" container">
  <div class="row py-lg-5">
    <div class="col">
      <h1><%= error.status %> <%= message %></h1>
      &nbsp;
      <pre><%= error.stack %></pre>
    </div>
  </div>
</section>